@font-face {
  font-family: "SAOWelcomeTT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/asckse1/Fonts-for-personal-client-use@main/SAOWelcomeTT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
